<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <h1>Scoreboard</h1>
    <table>
      <% for (var i = 0; i < leaderboard.length; i ++) { %>
        <tr>
          <td><%= leaderboard.name %></td>
          <td><%= leaderboard.score %></td>
          <td><button type="button" name="edit">Edit</button></td>
          <td><button type="button" name="delete">Delete</button></td>
        </tr>
        <% } %>
      </table>
    </div>

  </body>
  </html>
